html,
body,
#root {
	height: 100% !important;
}
.app {
	display: flex;
	flex-direction: column;
}
.container-fluid {
	flex: 1 0 auto !important;
}
.footer {
	flex-shrink: 0;
}
.dropdown-menu {
	min-width: max-content !important;
}
.btn-white {
	background-color: white !important;
	color: black !important;
}
.media-img {
	object-fit: cover !important;
	clip-path: circle(30%);
}
.scroll-up-btn {
	opacity: 0;
	transition: opacity 5s ease-in-out;
}
.scroll-up-btn.active {
	opacity: 1 !important;
}
.navbar.bg-transparent {
	transition: background-color 0.2s ease-in;
}
.navbar.bg-dark {
	transition: background-color 0.2s ease-in-out;
}
